AddType application/x-httpd-php .wsdl

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^wsdl/([a-zA-Z0-9\_\-]+)/definitions xsoap.wsdl.wsdl?funcname=$1 [L,NC,QSA]
RewriteRule ^wsdl/([a-zA-Z0-9\_\-]+)/schemas xsoap.xsd.wsdl?funcname=$1 [L,NC,QSA]
RewriteRule ^wsdl/([a-zA-Z0-9\_\-]+)/service xsoap.wsdl.service.wsdl?funcname=$1  [L,NC,QSA]
RewriteRule ^wsdl/([a-zA-Z0-9\_\-]+) xsoap.wsdl.service.wsdl?funcname=$1 [L,NC,QSA]